@import '../../../styles/color.scss';

.container-cards{
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 40px;
  position: relative;
  height: 290px;
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: map-get($md-grey, 900);
    border-radius: 20px;
  }
}
