@import '../../../styles/color.scss';

.container-card{
  margin-right: 20px;
  padding-top: 5px;
  &__image{
    width: 270px;
    height: 170px;
    position: relative;
    border-radius: 10px;
    position: relative;
    transition: all .5s;
    &:hover{
      transform: scale(1.05);
      cursor: pointer;
      .container-card__image__play{
        mat-icon{
          transition: all .5s;
          margin-left: -20px;
          font-size: 6em;
        }
      }
    }
    img{
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
    &__container-menu-card{
      button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background-color: map-get($md-grey, 900);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 8%;
        &:hover{
          cursor: pointer;
          background-color: map-get($md-accent, 500);
          color: white;
        }
        mat-icon{
          margin-top: 1.5px;
          font-size: 17px;
        }
      }
      &__container-menu{
        &__item{

        }
      }
    }
    &__play{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      mat-icon{
        font-size: 4em;
      }
    }
  }
  &__text{
    letter-spacing: 0.4px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    &__title{
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 2px;
      text-align: center;
    }
    &__subTitle{
      font-size: 1em;
      text-align: center;
    }
  }
}

.backdrop{
  background-color: #ff0;
}
