<div class="container-card">
  <div class="container-card__image">
    <div class="container-card__image__container-menu-card">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="container-card__image__container-menu-card__container-menu"
        [hasBackdrop]="true" [xPosition]="'after'" [overlapTrigger]="true"
      >
        <button mat-menu-item class="container-card__image__container-menu-card__container-menu__item">
          <mat-icon>format_list_bulleted</mat-icon>
          <span>Aggiungi alla lista</span>
        </button>
        <button mat-menu-item class="container-card__image__container-menu-card__container-menu__item">
          <mat-icon>favorite</mat-icon>
          <span>Preferito</span>
        </button>
        <button mat-menu-item class="container-card__image__container-menu-card__container-menu__item">
          <mat-icon>bookmark</mat-icon>
          <span>Watchlist</span>
        </button>
        <button mat-menu-item class="container-card__image__container-menu-card__container-menu__item">
          <mat-icon>star</mat-icon>
          <span>Il tuo voto</span>
        </button>
      </mat-menu>
    </div>
    <img [src]="objMovie.image" [alt]="objMovie.title">
    <div class="container-card__image__play">
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>
  <div class="container-card__text">
    <p class="container-card__text__title">{{objMovie.title}}</p>
    <p class="container-card__text__subTitle">{{objMovie.date}}</p>
  </div>
</div>
