<div class="container-footer">
  <div class="container-footer__logo">
    <img src="../../../assets/Images/Logo/primary-full.svg" alt="logo theMovieDb">
    <button mat-flat-button>Ciao Manuel!</button>
  </div>
  <div class="container-footer__container-listMenu">
    <div class="container-footer__container-listMenu__basic">
      <h4>Le Basi</h4>
      <ul>
        <li>Info su TMDB</li>
        <li>Contattaci</li>
        <li>Forum di supporto</li>
        <li>API</li>
        <li>System Status</li>
      </ul>
    </div>
    <div class="container-footer__container-listMenu__play">
      <h4>Mettersi in gioco</h4>
      <ul>
        <li>Guide contributi</li>
        <li>Aggiungi Nuovo Film</li>
        <li>Aggiungi Nuova Serie TV</li>
      </ul>
    </div>
    <div class="container-footer__container-listMenu__community">
      <h4>Community</h4>
      <ul>
        <li>Linee guida</li>
        <li>Discussioni</li>
        <li>Classifica</li>
        <li>Twitter</li>
      </ul>
    </div>
    <div class="container-footer__container-listMenu__leagl">
      <h4>Legale</h4>
      <ul>
        <li>Condizioni d'uso</li>
        <li>Termini d'uso delle API</li>
        <li>Politica Privacy</li>
      </ul>
    </div>
  </div>
</div>
