@import '../styles/color.scss';

mat-drawer-container{
  height: 100vh;
  overflow-x: hidden;
  mat-drawer{
    width: 85vw;
    background-color: map-get($md-primary, 500);
    overflow-x: hidden;
  }
}

.mat-drawer-content{
  overflow-x: hidden;
}
