<ng-container *ngIf="screenWidth > 900; else elseTemplate">
  <div class="container-navbar">
    <div class="container-navbar__desktop">
      <div class="container-navbar__desktop__logo-menu">
        <img src="../../../assets/Images/Logo/alt-shot.svg"
             alt="logo TheMovieDb" routerLink="/">
             <ul class="container-navbar__desktop__logo-menu__conteiner-menu">
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item" [matMenuTriggerFor]="menuFilm">Film</li>
               <mat-menu #menuFilm="matMenu">
                <button mat-menu-item routerLink="/movie" (click)="getMovie('Popolare')">Popolare</button>
                <button mat-menu-item>Adesso In Onda</button>
                <button mat-menu-item>In Arrivo</button>
                <button mat-menu-item>Più Votati</button>
              </mat-menu>
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item" [matMenuTriggerFor]="menuSerieTV">Serie Tv</li>
               <mat-menu #menuSerieTV="matMenu">
                <button mat-menu-item>Popolari</button>
                <button mat-menu-item>Oggi In Onda</button>
                <button mat-menu-item>In TV</button>
                <button mat-menu-item>Più Votati</button>
              </mat-menu>
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item" [matMenuTriggerFor]="menuPersone">Persone</li>
               <mat-menu #menuPersone="matMenu">
                <button mat-menu-item>Persone Popolari</button>
              </mat-menu>
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item" [matMenuTriggerFor]="menuMore">More</li>
               <mat-menu #menuMore="matMenu">
                <button mat-menu-item>Discussioni</button>
                <button mat-menu-item>Classifica</button>
                <button mat-menu-item>Supporto</button>
                <button mat-menu-item>API</button>
              </mat-menu>
             </ul>
      </div>
      <div class="container-navbar__desktop__social">
        <ul class="container-navbar__desktop__social__container-social">
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon>add</mat-icon>
          </li>
          <li class="container-navbar__desktop__social__container-social__item">it</li>
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon>notifications</mat-icon>
          </li>
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon>account_circle</mat-icon>
          </li>
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon color="accent">search</mat-icon>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container-navbar-mobile">
    <div class="container-navbar-mobile__toogle">
      <mat-icon (click)="toggleDrawer()">menu</mat-icon>
    </div>
    <img src="../../../assets/Images/Logo/primary-full.svg" alt="logo TheMovieDb mobile">
    <div class="container-navbar-mobile__social">
      <mat-icon>notifications</mat-icon>
      <mat-icon>account_circle</mat-icon>
      <mat-icon color="accent">search</mat-icon>
    </div>
  </div>
</ng-template>



