<ng-container *ngIf="screenWidth > 900; else elseTemplate">
  <div class="container-navbar">
    <div class="container-navbar__desktop">
      <div class="container-navbar__desktop__logo-menu">
        <img src="../../../assets/Images/Logo/alt-shot.svg"
             alt="logo TheMovieDb">
             <ul class="container-navbar__desktop__logo-menu__conteiner-menu">
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item">Film</li>
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item">Serie Tv</li>
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item">Persone</li>
               <li class="container-navbar__desktop__logo-menu__conteiner-menu__item">More</li>
             </ul>
      </div>
      <div class="container-navbar__desktop__social">
        <ul class="container-navbar__desktop__social__container-social">
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon>add</mat-icon>
          </li>
          <li class="container-navbar__desktop__social__container-social__item">it</li>
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon>notifications</mat-icon>
          </li>
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon>account_circle</mat-icon>
          </li>
          <li class="container-navbar__desktop__social__container-social__item">
            <mat-icon color="accent">search</mat-icon>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container-navbar-mobile">
    <div class="container-navbar-mobile__toogle">
      <mat-icon (click)="toggleDrawer()">menu</mat-icon>
    </div>
    <img src="../../../assets/Images/Logo/primary-full.svg" alt="logo TheMovieDb mobile">
    <div class="container-navbar-mobile__social">
      <mat-icon>notifications</mat-icon>
      <mat-icon>account_circle</mat-icon>
      <mat-icon color="accent">search</mat-icon>
    </div>
  </div>
</ng-template>



