.container-toolbar{
  &__conteiner-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    li{
      list-style: none;
      border: 1px solid red;
      height: 100%;
      display: flex;
      place-items: center;
      &:not(:last-child){
        margin-right: 40px;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}
