<header>
  <div class="container-index">
    <p class="container-index__year">2021</p>
    <p class="container-index__text-up">That's Wrap</p>
    <p class="container-index__text-bottom">Let's dive into 2021's best and worst! <mat-icon>arrow_forward</mat-icon></p>
  </div>
  <form class="container-search">
    <mat-form-field appearance="outline" class="container-search__container-input">
      <input matInput placeholder="Cerca un film, serie tv, personaggio...">
      <div class="container-search__container-input__textSearch">
        <p>Search</p>
      </div>
    </mat-form-field>
  </form>
</header>
<main>
  <section class="container-popular">
    <app-container-card></app-container-card>
  </section>
</main>
