<header>
  <div class="container-index">
    <p class="container-index__year">2021</p>
    <p class="container-index__text-up">That's Wrap</p>
    <p class="container-index__text-bottom">Let's dive into 2021's best and worst! <mat-icon>arrow_forward</mat-icon></p>
  </div>
  <form class="container-search">
    <mat-form-field appearance="outline" class="container-search__container-input">
      <input matInput placeholder="Cerca un film, serie tv, personaggio...">
      <div class="container-search__container-input__textSearch">
        <p>Search</p>
      </div>
    </mat-form-field>
  </form>
</header>
<main>
  <section class="container-popular">
    <app-header-section [title]="'Cosa è popolare'" [listMenu]="listMenuPopular"></app-header-section>
    <app-container-card [arrayItems]="moviePopular.results" [router]="moviePopular.section"></app-container-card>
  </section>
  <section class="container-popular">
    <app-header-section [title]="'Visione gratuita'" [listMenu]="listMenuFree"></app-header-section>
    <app-container-card [arrayItems]="movieFree.results"  [router]="movieFree.section"></app-container-card>
  </section>
  <section class="container-popular trailer"
    [ngStyle]="{'background-image': imageBackgroundSection ? 'url(' + imageBackgroundSection + ')' : ''}"
  >
    <app-header-section [title]="'Ultimi Trailer'" [listMenu]="listMenuTrailer" [trailer]="true"></app-header-section>
    <app-container-video-card [arrayItems]="movieTrailer" (imageUrl)="outputImage($event)"></app-container-video-card>
  </section>
  <section class="container-popular">
    <app-header-section [title]="'Di tendenza'" [listMenu]="listMenuTrend"></app-header-section>
    <app-container-card [arrayItems]="movieTreand.results"  [router]="movieTreand.section"></app-container-card>
  </section>
</main>
<footer>
  <app-footer></app-footer>
</footer>
