@import '../../../styles/color.scss';

.container-headerSection{
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
&__title{
    p{
      margin: 0;
      letter-spacing: .8px;
      font-size: 1.4em;
      font-weight: 600;
    }
  }
  &__toogle{
    height: 25px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid map-get($md-primary, 500);
    border-radius: 20px;
    &__item{
      margin: 0;
      height: 25px;
      padding: 0 11px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1em;
      text-align: center;
      color: map-get($md-primary, 500);
      &:hover{
        cursor: pointer;
      }
    }
  }
}


.isActive{
  border-radius: 20px;
  background-color: map-get($md-primary, 500);
  color: rgb(106,245,232);
  color: linear-gradient(149deg, rgba(106,245,232,1) 0%, rgba(1,180,228,1) 80%);
}

.colorText{
  border-radius: 20px;
  color: map-get($md-primary, 500);
  background-color: rgb(106,245,232);
  background-color: linear-gradient(149deg, rgba(106,245,232,1) 0%, rgba(1,180,228,1) 80%);
}
.colorBorder{
  border: 1px solid rgb(106,245,232);
}
