<app-header-detail [headerDetail]="tvHeader"></app-header-detail>
<div class="container-body">
  <div class="container-body__left">
    <div class="container-body__left__series-cast">
      <h2>Series Cast</h2>
      <app-container-cast-card [arrayItems]="tvCast"></app-container-cast-card>
      <p>Cast e troupe al completo</p>
      <div class="container-body__left__series-cast__line"></div>
    </div>
    <div class="container-body__left__session-actual">
      <h2>Stagione attuale</h2>
    </div>
  </div>
  <div class="container-body__right">
    1
  </div>
</div>
